.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars
!terraform.tfvars.example
crash.log
functions_package.zip
override.tf
override.tf.json
*_override.tf
*_override.tf.json
